<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4 login-container">
    <form ng-submit="adminCtrl.submitLogin();">
      <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-show="errMsg">{{errMsg}}</div>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" ng-model="loginForm.email" class="form-control" />
      </div>
      <div class="form-group">
        <input type="password" name="passwd" placeholder="Password" ng-model="loginForm.passwd" class="form-control"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="#">forget password?</a>
      </div>
    </form>
  </div>
</div>
