<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4 login-container">
    <form ng-submit="adminCtrl.submitSignup(form.$invalid);" name="form" novalidate>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-show="errMsg">{{errMsg}}</div>
      </div>
      <!--<div class="form-group">
        <p class="text-danger" ng-show="form.fullname.$dirty && form.fullname.$error.required">Fullname is required</p>
        <input type="text" name="fullname" ng-model="signupForm.fullname" class="form-control" placeholder="Enter fullname" required>
      </div> -->
      <div class="form-group">
        <p class="text-danger" ng-show="form.username.$dirty && form.username.$error.required">Username is required</p>
        <p class="text-danger" ng-show="form.username.$dirty && form.username.$error.minlength">Username must have at least 2 characters.</p>
        <input type="text" name="username" ng-model="signupForm.username"
          class="form-control" placeholder="Enter username" ng-minlength="2" required>
      </div>
      <div class="form-group">
        <p class="text-danger" ng-show="form.email.$dirty && form.email.$error.required">Email is required</p>
        <p class="text-danger" ng-show="form.email.$dirty && form.email.$error.email">Email is invalid</p>
        <input type="email" name="email" ng-model="signupForm.email" placeholder="Email"
          ng-model="loginForm.email" class="form-control" required/>
      </div>
      <div class="form-group">
        <p class="text-danger" ng-show="form.passwd.$dirty && form.passwd.$error.required">Password is required</p>
        <input type="password" name="passwd" ng-model="signupForm.passwd" placeholder="Password" ng-model="loginForm.passwd" class="form-control" required/>
      </div>
      <div class="form-group">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</div>
